{{define "head"}}

<meta charset="utf-8">
<title>Library</title>
<meta name="description" content="">
<meta name="author" content="">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="library/styles/normalize.css">
<link rel="stylesheet" href="library/styles/skeleton.css">

<script src="library/scripts/bootpage.js"></script>
<script src="library/scripts/main.js"></script>

<link rel="icon" type="image/png" href="library/images/favicon.png"> {{end}}
